---
title: Blog Archive
menu: blog
---

<% sorted_articles.each do |article| %>

  <div class="row">
    <div class="col-md-12">

      <!-- Blog heading -->
            
      <h2 class="page-header"><%= article[:title] %><br/>
        <small>Posted <%= Date.parse(article[:created_at].to_s).strftime("%B %d, %Y") %> <span class="text-lowercase">by</span> <%= article[:author] %></small>
      </h2>
      
    </div> <!-- col --> 
  </div> <!-- row -->
    
  <div class="row">
    <div class="col-xs-12" style="height:2em;"></div>
  </div> <!-- row -->
    
  <div class="row">
    <div class="col-md-12">
  
      <!-- Blog content -->

      <%= HTML_Truncator.truncate(article.compiled_content, 45, :ellipsis => '<a href="' + relative_path_to(article) + '">&hellip;</a>') %>
      <hr/>
      <p><a href="<%= relative_path_to(article) %>#disqus_thread">Comments</a> | <a href="<%= relative_path_to(article) %>">Continue reading</a></p>
      <hr/>
    </div> <!-- col --> 
  </div> <!-- row -->
  
  <div class="row">
    <div class="col-xs-12" style="height:6em;"></div>
  </div> <!-- row -->


<% end %>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'jamoma'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>