---
title: Blog
menu: blog
h1: Blog
---

<% sorted_articles[0..9].each do |post| %>

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><%= post[:title] %><br/>
            <small>by <%= post[:author] %></small>
          </h1>
      </div> <!-- col -->
  </div> <!-- row -->
  
  <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-8">

          <!-- Blog Post -->

          <!-- Date/Time -->
          <p><i class="fa fa-clock-o"></i><%= "Posted on " + @item[:created_at].to_s %><%= @item.mtime.strftime("%B %d, %Y") %></p>
          <hr>

          <!-- Post Content -->
          <%= post.compiled_content %>

          <hr>

          <!-- Blog Comments -->
          
          <div class="comments"><a href="<%= relative_path_to(post) %>#disqus_thread"><%= post.attributes[:title] %></a></div>

      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">

          <!-- Blog Categories Well -->
          <div class="well">
              <h4>Blog Categories</h4>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="list-unstyled">
              			  <% post[:categories].sort.each do |category| %>
              				    <li><%= "<a href=\"/categories/" + category + "\">" + category + "</a>" %></li>
              			  <% end %>
                  </div>
              </div>
              <!-- /.row -->
          </div>

      </div>

  </div>
  <!-- /.row -->
  
<% end %>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'jamoma'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>