/* @group About
 */

/* This style sheet is made and edited in CSSEdit:
	http://macrabbit.com/cssedit/
	*/

/* CSS Systems:
	The stylesheet is based on the philosophy of CSS Systems 
	- a top-down approach to architecting a site's CSS as proposed by Natalie Downe:
	http://natbat.net/2008/Sep/28/css-systems/
	http://www.slideshare.net/nataliedowne/css-systems-presentation
	*/

/* Rule blocks are loosely ordered by specificity:
	- elements are grouped by the type of tag 
		(for example Lists, links, blockquotes)
	- classes are grouped by the affect 
		(for example Notifications, pagination, content modules)
	- ID’s	are grouped by the individual page component they affect 
		(for example the Header, toolbar, nav)
		*/

/* @end */

/* @group General styles */

/* This section is for general and global styles */

* {
	margin: 0;
	padding: 0;
	font: small Verdana, "Lucida Grande", Lucida, sans-serif;
	text-transform: none;
	word-spacing: 2px;
	color: #424242;
}

body {
	background: #fffeff;
}

a {
	color: #9E005D;
	text-decoration: none;
}

a:link,
a:visited {
	
}

a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Page structure */

/* This section is for tags relating to the various sections of the pages, organised by structure/semantics */

/* @group Header */

#header {
	width: 142px;
	height: 150px;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	background: rgba(214,58,17,0) url(images/background.png) no-repeat;
}

.logo {
	padding: 0;
	position: absolute;
	width: 120px;
	height: 120px;
	top: 25px;
	background-color: rgba(254,255,254,0);
	background-image: none;
	left: 25px;
	color: rgba(254,255,254,0);
}

/* @end */

/* @group Main content */

#main {
	position: absolute;
	top: 40px;
	left: 280px;
	width: 500px;
}

#main h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	letter-spacing: -1px;
}

#main p {
	margin: 20px 0;
	font-size: 15px;
	line-height: 20px;
}

#main ul, #main ol {
	margin: 20px;
}

#main li {
	font-size: 15px;
	line-height: 20px;
}

#main ul li {
	list-style-type: square;
}

/* @end */

/* @group Side bar */

#sidebar {
	position: fixed;
	margin-top: 1px;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	left: 0;
	width: 140px;
	height: 100%;
	padding-left: 0;
	border-right: 1px solid #ccc;
	text-align: right;
	border-right: 1px solid #d5d5d5;
	/*background: #f4f4f4 none no-repeat fixed 0 0;*/
}

#sidebar h2 {
	text-transform: uppercase;
	font-size: 13px;
	color: #333;
	letter-spacing: 1px;
	line-height: 20px;
}

#sidebar ul {
	list-style-type: none;
	margin-top: 180px;
	padding-left: 20px;
}

#sidebar li {
	list-style-image: none;
	letter-spacing: 0px;
	margin-bottom: 2px;
	opacity: 1;
}

#sidebar .section {
	letter-spacing: 2px;
	margin-bottom: 5px;
	opacity: 1;
	color: #9E005D;
	text-decoration: none;
}

#sidebar .subsection, #sidebar .acitem {
	border-left: 1px solid #d5d5d5;
	margin-left: 5px;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-top: 10px;
	line-height: 17px;
}

/* @end */

/* @group Footer */

#footer {
	font-size: 10px;
	color: #333;
	width: 100%;
	padding-bottom: 0px;
	padding: 0px;
	margin: 0px 0;
}

#footer p {
	padding: 2px;
	margin: 2px 0 0;
	clear: both;
	display: block;
	position: relative;
	top: 40px;
	width: 100%;
}

/* @end */

/* @end */

/* @group Page specifics */

/* This section is for css specific to a certain type of pages, e.g. blog or tutorials */

/* @group Blog */

/* @end */

/* @group Tutorials */

/* @end */

/* @end */