/* @group About
 */

/* This style sheet is made and edited in CSSEdit:
	http://macrabbit.com/cssedit/
	*/

/* CSS Systems:
	The stylesheet is based on the philosophy of CSS Systems 
	- a top-down approach to architecting a site's CSS as proposed by Natalie Downe:
	http://natbat.net/2008/Sep/28/css-systems/
	http://www.slideshare.net/nataliedowne/css-systems-presentation
	*/

/* Rule blocks are loosely ordered by specificity:
	- elements are grouped by the type of tag 
		(for example Lists, links, blockquotes)
	- classes are grouped by the affect 
		(for example Notifications, pagination, content modules)
	- ID’s	are grouped by the individual page component they affect 
		(for example the Header, toolbar, nav)
		*/

/* @end */
	


/* @group General styles */

/* This section is for general and global styles */

* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}



/* @end */

/* @group Page structure */

/* This section is for tags relating to the various sections of the pages, organised by structure/semantics */

/* @group Header */



/* @end */

/* @group Main content */

#main {
  position: absolute;

  top: 40px;
  left: 280px;

  width: 500px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  
  font-size: 15px;
  
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}



/* @end */

/* @group Side bar */

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 13px;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;

  line-height: 20px;
}



/* @end */

/* @group Footer */



/* @end */



/* @end */

/* @group Page specifics */

/* This section is for css specific to a certain type of pages, e.g. blog or tutorials */

/* @group Blog */



/* @end */

/* @group Tutorials */



/* @end */



/* @end */
