<!DOCTYPE HTML>
<html lang="en">

  <%= render 'head' %>
  
  <body>
	  <%= render 'header' %>
	  <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
        
		        <% if @item[:posts].length > 0 %>
		          <h1>
                Blog archive by category<br/>
			          <small><%= @item[:title] %></small>
              </h1>
			        <% @item[:posts].each do |post| %>
            
                
                
                <div class="row">
                  <div class="col-md-12">
            
                    <!-- Blog heading -->
                
                    <h2 class="page-header"><%= post[:title] %><br/>
                      <small>Posted <%= Date.parse(post[:created_at].to_s).strftime("%B %d, %Y") %> <span class="text-lowercase">by</span> <%= post[:author] %></small>
                    </h2>
            
                    <!-- Blog categories -->  
            
              	     <% if !post[:categories].nil? %>
              	       <ul class="list-inline text-center">
              	         <% post[:categories].sort.each do |category| %>
                        <li class="text-capitalize category">
              	             <a href="/categories/<%= category %>"><%= category%></a> &nbsp;
                        </li>
              	        	<% end %>
              	       </ul>
              	     <% end %>
            
                  </div> <!-- col --> 
                </div> <!-- row -->
            
                <div class="row">
                  <div class="col-xs-12" style="height:2em;"></div>
                </div> <!-- row -->
            
                <div class="row">
                  <div class="col-md-12">
            
                    <!-- Blog content -->
                    <%= post.compiled_content %>
            
                    <hr/>
            
                    <!-- Blog Comments -->
            
                    <div class="comments"><a href="<%= relative_path_to(post) %>#disqus_thread">
                      <%= post.attributes[:title] %></a>
                    </div>
                    <hr/>
            
                  </div> <!-- col -->
                </div> <!-- row -->
            
                <div class="row">
                  <div class="col-xs-12" style="height:8em;"></div>
                </div> <!-- row -->
                
			        <% end %>
		        <% end %>
		                    
            <div class="row">
              <div class="col-md-12">

                <hr/>
                <p class="text-center"><a href="/blog/">View recent posts</a></p>
                <p class="text-center"><a href="/blog/archive/">View the full archive</a></p>
                <hr/>
    
              </div> <!-- col -->
            </div> <!-- row -->

            <div class="row">
              <div class="col-xs-12" style="height:8em;"></div>
            </div> <!-- row -->
            
		        
		        <%= render 'footer' %>
        
          </div> <!-- column -->
        </div> <!-- row -->
      </div> <!-- div id="container" -->
	  </section> <!-- id="main" -->
    
    <%= render 'bootstrap_footer' %>
	  <%= render 'google_analytics' %>
  </body>
</html>