<!DOCTYPE HTML>
<html lang="en">

  <%= render 'head' %>
  
  <body>
    
	  <%= render 'header' %>
    
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
		        <h1 class="top page-header text-capitalize"><%= @item[:title] %></h1>
	    	    <%= yield %>
	    	    <%= render 'footer' %>
          </div> <!-- column -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section> <!-- id="main" -->
      
    <%= render 'bootstrap_footer' %>
    <%= render 'prism_footer' %>    
	  <%= render 'google_analytics' %>
  </body>
</html>
