	<footer id="footer">
		<hr/>
		
		<p class="contact">	<a href="https://www.facebook.com/jamoma.project/">Facebook</a> | 
							<a href="https://twitter.com/jamomaproject">Twitter</a> | 
							<a href="https://github.com/jamoma">Github</a> | 
							<a href="/forum-users">Forum</a> |
							<a href="/forum-developers/">Developers</a>
							<br/>
							<a href="/blog/">Blog</a> | 
							<a href="/publications/">Research</a> |  
							<a href="/support/">Support</a> |  
							<a href="mailto:jamoma@jamoma.org">Email</a> |
							<a href="/privacy/">Privacy Policy</a>
		</p>

		<p>	Copyright © 2003-2015 by the contributing authors.<br/>
			This site is generously hosted by <a href="http://www.bek.no">BEK</a>.
		</p>

	</footer>
