  <!-- Fork me at GitHub -->

  <a href="https://github.com/jamoma"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Jamoma</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="/about/team/">Developers</a>
                          </li>
                          <li>
                              <a href="/publications/">Publications</a>
                          </li>
                          <li>
                              <a href="/about/support/">Supported by</a>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="/blog/">News</a>
                          </li>
                          <li>
                              <a href="/blog/archive/">Archive</a>
                          </li>
                          <li>
                              <a href="/categories/">Categories</a>
                          </li>
                      </ul>
                  </li>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="https://www.facebook.com/jamoma.project/" target="_blank">Facebook</a>
                          </li>
                          <li>
                              <a href="https://twitter.com/jamomaproject" target="_blank">Twitter</a>
                          </li>
                          <li>
                              <a href="mailto:jamoma@jamoma.org">Email</a>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forums <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="/forums/users/">User Forum</a>
                          </li>
                          <li>
                              <a href="/forums/developers/">Developer Forum</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <header class="bgimage">
    <div class="container">
		  <h1 align="center">Jamoma</h1>
		  <p align="center">Modular Patching and Programming for Realtime Media</p>
    </div>
	</header>
