<!DOCTYPE HTML>
<html lang="en">

	<%= render 'head' %>
  
	<body>
		<%= render 'header' %>
    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
		  
		  	    <!-- Collect posts to category for the category pages -->
	  		    <% puts @item.inspect%>
	  		    <% if !@item[:posts].nil? %>
	  		    	<ul class="archive">
	  		    		<% @item[:posts].each do |p| %>
	  		    			<li>
	  		    				<span><%= p.attributes[:created_at] %> &middot; </span>
	  		    				<a href="<%= relative_path_to(p) %>"><%= p.attributes[:title] %></a>
	  		    			</li>
	  		    		<% end %>
	            </ul>
            <% end %>
	  		    
	  		    <!-- Display the content of the blog post -->
	  		    <% post=@item %>

	  		    	<h1>
                <%= @item[:h1] %><br/>
                <small>Posted <%= @item.mtime.strftime("%B %d, %Y") %> <span class="text-lowercase">by</span> <%= post[:author] %></small>
              </h1>
              
              <hr/>
              
	  	      
	  	      	<% if !@item[:categories].nil? %>
	  		    	    <ul class="list-inline text-center">
	  	 	     		    <% @item[:categories].sort.each do |category| %>
                      <li class="text-capitalize category">
	  		          	    <a href="/categories/<%= category %>"><%= category%></a> &nbsp;
                      </li>
	  	      	 	  	<% end %>
	  		    	    </ul>
	  		    	<% end %>
            </div> <!-- col --> 
          </div> <!-- row -->
          
          <div class="row">
            <div class="col-xs-12" style="height:2em;"></div>
          </div> <!-- row -->
          
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
	  		    	
	  		    	<article>
	              <%= yield %>
	  		    	</article>
              
              <hr/>
              
            </div> <!-- column -->
          </div> <!-- row -->
          
          <div class="row">
            <div class="col-xs-12" style="height:4em;"></div>
          </div> <!-- row -->
          
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
	  	      
	  	        <%= render 'disqus_thread' %>
              
            </div> <!-- column -->
          </div> <!-- row -->
	  	      
          <div class="row">
            <div class="col-xs-12" style="height:2em;"></div>
          </div> <!-- row -->
          
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              
	  	        <%= render 'footer' %>
          
            </div> <!-- column -->
          </div> <!-- row -->
        </div> <!-- container -->
      </section> <!-- id="main" -->


      <%= render 'bootstrap_footer' %>
	  	<%= render 'google_analytics' %>
  	</body>
</html>
