<!DOCTYPE HTML>
<html lang="en">

	<%= render 'head' %>
  
	<body>
		<%= render 'header' %>
		<section id="main">
		  
			<h1 class="top"><%= @item[:h1] %></h1>
			<div class="dateAuthor"><%= @item[:created_at] %> by <%= @item[:author] %></div>
		  
		  	<% if !@item[:categories].nil? %>
				<ul class="categories">
		 	 		<% @item[:categories].sort.each do |category| %>
			  	  	  <li class="category"><a href="/categories/<%= category %>"><%= category %></a></li>
		  	  		<% end %>
				</ul>
			<% end %>
			  
			<% puts @item.inspect%>
			<% if !@item[:posts].nil? %>
			<ul class="archive">
				<% @item[:posts].each do |p| %>
					<li>
						<span><%= p.attributes[:created_at] %> &middot; </span>
						<a href="<%= relative_path_to(p) %>"><%= p.attributes[:title] %></a>
					</li>
				<% end %>
	      	</ul>

	      	<% end %>
	      	<%= yield %>
		  
		  	<%= render 'disqus_thread' %>
		  
		  	<%= render 'footer' %>
	  	</section> <!-- id="main" -->  
	  	<%= render 'sidebar' %>
	  	<%= render 'google_analytics' %>
  	</body>
</html>
