	  <section id="sidebar">
		  <nav>
  			<ul>
  				<li>
  					<a href="#" class="section">Overview</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/modular.html">Modular</a></li>
  						<!-- <li><a class="subsectionItem" href="framework.html">Jamoma framework</a></li> -->
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Download</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/download.html">Installer</a><br/></li>
  						<li><a class="subsectionItem" href="/sources.html">Sources</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Community</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="http://groupware.bek.no/groups/jamoma/wiki/c05cb/Documentation_and_tutorials.html">Tutorials</a><br/></li>
						<li><a class="subsectionItem" href="http://groupware.bek.no/groups/jamoma/blog/">Blog</a><br/></li>
  						<li><a class="subsectionItem" href="/forum.html">Forum</a><br/></li>
  						<li><a class="subsectionItem" href="https://twitter.com/jamomaproject/">Twitter</a><br/></li>
  						<li><a class="subsectionItem" href="http://vimeo.com/channels/jamoma">Vimeo</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Development</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="http://redmine.jamoma.org/">Redmine</a><br/></li>
  						<li><a class="subsectionItem" href="http://github.com/tap/Jamoma">Repository</a><br/></li>
  						<li><a class="subsectionItem" href="http://redmine.jamoma.org/projects/jamoma/issues">Bug tracker</a><br/></li>
  						<li><a class="subsectionItem" href="/404.html">API Documentation</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">About</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/team.html">Team</a></li>
  						<li><a class="subsectionItem" href="/support.html">Support</a></li>
  						<li><a class="subsectionItem" href="/papers.html">Papers</a></li>
  					</ul>
  				</li>
  			</ul>	
		  </nav>
    </section>	<!-- id="sidebar" -->