	  <section id="sidebar">
		  <nav>
  			<ul>
  				<li>
  					<a href="#" class="section">Overview</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/modular/">Modular</a></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Download</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/download/">Installers</a><br/></li>
  						<li><a class="subsectionItem" href="/sources/">Sources</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Community</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="http://groupware.bek.no/groups/jamoma/wiki/c05cb/Documentation_and_tutorials.html">Tutorials</a><br/></li>
						<li><a class="subsectionItem" href="http://groupware.bek.no/groups/jamoma/blog/">Blog</a><br/></li>
  						<li><a class="subsectionItem" href="/forum/">Forum</a><br/></li>
  						<li><a class="subsectionItem" href="https://twitter.com/jamomaproject/" target="_blank">Twitter</a><br/></li>
  						<li><a class="subsectionItem" href="http://vimeo.com/channels/jamoma" target="_blank">Vimeo</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Development</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="http://redmine.jamoma.org/" target="_blank">Redmine</a><br/></li>
  						<li><a class="subsectionItem" href="https://github.com/jamoma" target="_blank">Repositories</a><br/></li>
  						<li><a class="subsectionItem" href="http://redmine.jamoma.org/projects/jamoma/issues" target="_blank">Bug tracker</a><br/></li>
  						<li><a class="subsectionItem" href="http://api.jamoma.org" target="_blank">API Documentation</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">About</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/team/">Team</a></li>
  						<li><a class="subsectionItem" href="/papers/">Papers</a></li>
						<li><a class="subsectionItem" href="/support/">Supported by</a></li>
  					</ul>
  				</li>
  			</ul>	
		  </nav>
    </section>	<!-- id="sidebar" -->