	  <section id="sidebar">
		<script type="text/javascript">
		jQuery.fn.initMenu=function(){return this.each(function(){$(this).get(0),$(".acitem",this).hide(),$("li.expand > .acitem",this).show(),$("li.expand > .acitem",this).prev().addClass("active"),$("li a",this).click(function(a){a.stopImmediatePropagation();var b=$(this).next(),c=this.parentNode.parentNode;return $(c).hasClass("noaccordion")?(void 0===b[0]&&(window.location.href=this.href),$(b).slideToggle("normal",function(){$(this).is(":visible")?$(this).prev().addClass("active"):$(this).prev().removeClass("active")}),!1):b.hasClass("acitem")&&b.is(":visible")?$(c).hasClass("collapsible")?($(".acitem:visible",c).first().slideUp("normal",function(){$(this).prev().removeClass("active")}),!1):!1:b.hasClass("acitem")&&!b.is(":visible")?($(".acitem:visible",c).first().slideUp("normal",function(){$(this).prev().removeClass("active")}),b.slideDown("normal",function(){$(this).prev().addClass("active")}),!1):void 0})})},$(document).ready(function(){$(".menu").initMenu()});
		</script>
		  <nav class="menubar">
  			<ul class="menu">
  				<li>
  					<a href="#" class="section">News</a>
  					<ul class="acitem">
						<li><a class="subsectionItem" href="/blog/">Recent posts</a><br/></li>
  						<li><a class="subsectionItem" href="/blog/archive/">Archive</a></li>
						<li><a class="subsectionItem" href="/categories/">Categories</a></li>
						<li><a class="subsectionItem" href="/blog/blog.xml">Subscribe to feed</a></li>
  					</ul>
  				</li>
				<li>
  					<a href="#" class="section">What is Jamoma?</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/overview/">Overview</a></li>
						<li><a class="subsectionItem" href="/modular/">Jamoma and Max</a></li>
						<li><a class="subsectionItem" href="/core/">Jamoma and C++</a></li>
						<li><a class="subsectionItem" href="/projects/">Projects</a><br/></li>
						<li><a class="subsectionItem" href="/publications/">Publications</a></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Get started</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/download/">Download</a><br/></li>
						<li><a class="subsectionItem" href="/tutorials/">Tutorials</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Get in touch</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/forum/">Forum</a><br/></li>
						<li><a class="subsectionItem" href="https://www.facebook.com/jamoma.project" target="_blank">Facebook</a><br/></li>
  						<li><a class="subsectionItem" href="https://twitter.com/jamomaproject/" target="_blank">Twitter</a><br/></li>
  						<li><a class="subsectionItem" href="http://vimeo.com/channels/jamoma" target="_blank">Vimeo</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Get involved</a>
  					<ul class="acitem">
						<li><a class="subsectionItem" href="/sources/">Sources</a><br/></li>
						<li><a class="subsectionItem" href="https://github.com/jamoma" target="_blank">GitHub</a><br/></li>
						<li><a class="subsectionItem" href="http://api.jamoma.org/" target="_blank">API Documentation</a><br/></li>
						<li><a class="subsectionItem" href="http://redmine.jamoma.org/projects/jamoma/issues" target="_blank">Bug tracker</a><br/></li>
  						<li><a class="subsectionItem" href="http://redmine.jamoma.org/" target="_blank">Redmine</a><br/></li>
  					</ul>
  				</li>
  				<li>
  					<a href="#" class="section">Credits</a>
  					<ul class="acitem">
  						<li><a class="subsectionItem" href="/team/">Team</a></li>
						<li><a class="subsectionItem" href="/support/">Supported by</a></li>
  					</ul>
  				</li>
  			</ul>	
		  </nav>
    </section>	<!-- id="sidebar" -->