<div class="support">
	<h2>How to support Jamoma?</h2>

	<p>Want to support Jamoma development or host a workshop? Feel free to <a href="mailto:jamoma@jamoma.org">contact</a> the team for more information.  If you are a programmer and want to join the Jamoma team <a href="mailto:jamoma@jamoma.org">contact</a> us too.</p>

	<p>Financial support is also appreciated via <a href="http://pledgie.com/campaigns/5615">pledgie donation</a></p>

	<p style="text-align:center;"><a href="http://www.pledgie.com/campaigns/5615"><img src="http://www.pledgie.com/campaigns/5615.png?skin_name=chrome" title="Make a donation at www.pledgie.com" alt="Make a donation at www.pledgie.com" /></a></p>
	
</div>	<!-- class="support" -->