<div class="support">

h2. How to support Jamoma?

Want to support Jamoma development or host a workshop? Feel free to "contact":mailto:jamoma@jamoma.org the team for more information.  If you are a programmer and want to join the Jamoma team "contact":mailto:jamoma@jamoma.org us too.</p>

Financial support is also appreciated as a "pledgie donation":http://pledgie.com/campaigns/5615:

p=. <a href='http://www.pledgie.com/campaigns/5615'><img alt='Click here to lend your support to: Jamoma and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/5615.png?skin_name=chrome' border='0' /></a> 

p=. <script type="text/javascript" src="http://www.ohloh.net/p/27434/widgets/project_thin_badge.js"></script> 

</div>	<!-- class="support" -->